<section class="page-section section-top clearfix">
    <div class="container">
      <div class="product-item">
        <div class="product-item-title d-flex">
          <div class="bg-faded p-5 d-flex ml-auto rounded">
            <h2 class="section-heading mb-0">
              <span class="section-heading-upper">Estetica</span>
              <span class="section-heading-lower">Bañado &amp; Peinado</span>
            </h2>
          </div>
        </div>
        <img class="product-item-img mx-auto d-flex rounded img-fluid mb-3 mb-lg-0 img-peinado" src="../../public/images/Banio1.jpg" alt="">
        <div class="product-item-description d-flex mr-auto">
          <div class="bg-faded p-5 rounded">
            <p class="mb-0">Realizamos baños, corte de pelo y peinado de tu mascota. para que luzca explendida, y sea la envidia de la plaza.</p>
          </div>
          <div class="btn-peinado">
            <input type="button" class="btn btn-primary btn-xl" href="#" value="Pedi Turno!" />
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="page-section" style="margin-bottom: 5rem;">
    <div class="container">
      <div class="product-item">
        <div class="product-item-title d-flex">
          <div class="bg-faded p-5 d-flex mr-auto rounded">
            <h2 class="section-heading mb-0">
              <span class="section-heading-upper">Variedad, Precio y Calidad</span>
              <span class="section-heading-lower">Indumentaria &amp; Accesorios</span>
            </h2>
          </div>
        </div>
        <img class="product-item-img mx-auto d-flex rounded img-fluid mb-3 mb-lg-0 img-indumentaria" src="../../public/images/Accesorios1.jpg" alt="">
        <div class="product-item-description d-flex ml-auto">
          <div class="bg-faded p-5 rounded">
            <p class="mb-0">Contamos con la mas grande variedad de accesorios. Indumentaria, juguetes, canastos y mucho mas.
              <br>
              Visita nuestra tienda virtual.</p>
          </div>
          <div class="btn-indumentaria">
            <input type="button" class="btn btn-primary btn-xl" href="#" value="Tienda" />
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="page-section">
    <div class="container">
      <div class="product-item">
        <div class="product-item-title d-flex">
          <div class="bg-faded p-5 d-flex ml-auto rounded">
            <h2 class="section-heading mb-0">
              <span class="section-heading-upper">Nutrición</span>
              <span class="section-heading-lower">Alimentos</span>
            </h2>
          </div>
        </div>
        <img class="product-item-img mx-auto d-flex rounded img-fluid mb-3 mb-lg-0 img-alimentacion" src="../../public/images/Alimentos1.jpg" alt="">
        <div class="product-item-description d-flex mr-auto">
          <div class="bg-faded p-5 rounded">
            <p class="mb-0">¿Dulces y salados? ¿Grandes y chicos? Miles de marcas!! No te tortures. Visita nuestra tienda y conoce todo lo que tenes que saber sobre alimentacion y complementos. Nuestros profesionales estan para ayudarte.</p>
          </div>
          <div class="btn-alimentacion">
            <input type="button" class="btn btn-primary btn-xl" href="#" value="Alimentos" />
          </div>
        </div>
      </div>
    </div>
  </section>