.d-flex {
    display: flex !important;
}

.mb-lg-0, .my-lg-0 {
    margin-bottom: 0 !important;
}

.ml-auto, .mx-auto {
    margin-left: auto !important;
}

.mr-auto, .mx-auto {
    margin-right: auto !important;
}

.mb-3, .my-3 {
    margin-bottom: 1rem !important;
}

.rounded {
    border-radius: .25rem !important;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

.img-peinado {
    width: 21rem;
    height: 25rem;
}

.img-indumentaria {
    width: 52.5rem;
    height: 27rem;
}

.img-alimentacion {
    width: 26rem;
    height: 35rem;
}

.btn-peinado {
    width: 100%;
    left: 0;
    position: absolute;
    bottom: -3rem;
    text-align: right;
}

.btn-indumentaria {
    width: 100%;
    left: 0;
    position: absolute;
    bottom: -1rem;
    text-align: right;
    padding-right: 4rem;
}

.btn-alimentacion {
    width: 100%;
    left: 0;
    position: absolute;
    bottom: -2rem;
    text-align: right;
    padding-right: 4rem;
}