<div class="card-deck">
  <div class="card" style="background-color: #ffffcc">
    <img class="rounded-circle card-img-local" src="../../public/images/carousel/servicios.jpeg" alt="Servicios">
    <div class="card-body">
      <h4 class="card-title">Servicios</h4>
      <p class="card-text">Reserva tu turno para lavado y peinado</p>
    </div>
  </div>
  <div class="card"  style="background-color: #ffffcc">
    <img class="rounded-circle card-img-local" src="../../public/images/carousel/productos.jpeg" alt="Productos">
    <div class="card-body">
      <h4 class="card-title">Productos</h4>
      <p class="card-text">Mira nuestros exclusivos productos para todo tipo de mascota</p>
      <p class="card-text"><small class="text-muted">* Excepto Loros</small></p>
    </div>
  </div>
  <div class="card"  style="background-color: #ffffcc">
    <img class="card-img-local rounded-circle" src="../../public/images/carousel/consultasVet.jpg" alt="Consultas">
    <div class="card-body">
      <h4 class="card-title">Consultas</h4>
      <p class="card-text">Hacenos tus consultas veterinarias. Nuestros profesionales las contestan</p>
    </div>
  </div>
</div>
