<section class="section-top clearfix">
  <div class="container">
      <div class="intro">
          <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="../../public/images/Intro.jpeg" alt="">
          <div class="intro-text left-0 text-center bg-faded p-5 rounded">
              <h2 class="section-heading mb-4">
                  <span class="section-heading-upper">Productos</span>
                  <span class="section-heading-lower">Todo lo que necesitas</span>
              </h2>
              <p class="mb-3">
                  Contamos con una gran variedad de productos de primera calidad para todo tipo de mascotas.
                  Damos asesoria sin cargo para que encuentres lo que necesites, al mejor precio
              </p>
              <div class="intro-button mx-auto">
                  <a class="btn btn-primary btn-xl" href="#">Conocelos!</a>
              </div>
          </div>
      </div>
  </div>
</section>

<section class="section-down cta">
  <div class="container">
      <div class="row">
          <div class="col-xl-9 mx-auto">
              <div class="cta-inner text-center rounded">
                  <h2 class="section-heading mb-4">
                      <span class="section-heading-upper">Our Promise</span>
                      <span class="section-heading-lower">To You</span>
                  </h2>
                  <p class="mb-0">When you walk into our shop to start your day, we are dedicated to providing you with friendly service,
                      a welcoming atmosphere, and above all else, excellent products made with the highest quality ingredients.
                      If you are not satisfied, please let us know and we will do whatever we can to make things right!</p>
              </div>
          </div>
      </div>
  </div>
</section>